/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Mapa */
/* Set the size of the div element that contains the map */
#mapContainer {
  height: 900px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  background-color: grey;
 }

div.formulario{
  color: white;
}

nav ul a,
nav .brand-logo {
  margin-left: 15px;
  color: #ffffff /* Cor do texto Menu Dropdown */
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.glass-wrapper {
  align-items: center;
  font-family:Arial;
  height: 295px;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-top:10px;
  background: #254c5e;
  color: #fff;
  border-radius:8px;
  text-align: left;
}

.instrucao{
  font-size: 16px;
  margin-left: 25px;
}

.glass-wrapper{s
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

#map{
  border-radius:8px;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

title{
  margin-left: 10px;
  color: #26a69a;
}
